@charset "UTF-8";

.gnb li {
  display: inline-block;
  margin-right: 60px;
}

.gnb li a {
  color: #888;
  position: relative;
  padding: 10px;
}
.gnb li a:after {
  content: '';
  width: 0%;
  height: 1px;
  position: absolute;
  background: #888;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

.gnb li a:hover:after,
.gnb li a:focus:after {
  width: 100%;
}